<?xml version="1.0" encoding="UTF-8"?>
<!--<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">-->
<suite parallel="tests" name="Suite">

	<listeners>
		<listener class-name="practiceProject.utils.Listeners"/>
	</listeners>

  <test thread-count="5" name="End To End Test">
    <classes>
      <class name="practiceProject.testng.ECommerceTest"/>
    </classes>
  </test>
  
  <test thread-count="5" name="Error Validations Test">
    <classes>
      <class name="practiceProject.testng.ErrorValidationsTest"/>
    </classes>
  </test> <!-- Test -->
  
</suite> <!-- Suite -->
